extends ../../../layout

block link
  link(rel="stylesheet", href="/css/pages/site/danh_ba/nha-moi-gioi.css")


block body
  .container
    .db1 * DANH BẠ NHÀ MÔI GIỚI
    .ngangnhieu
      .db2.bong
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu  
            .fontdb3.fontdb7
            .fontdb4.bo
              .fontdb6 
                p SÀN GIAO DỊCH BẤT ĐỘNG SẢN HỒNG GIA
              .fontdb2 
                br 
                p Địa chỉ: 
                p 856 Tạ Quang Bửu, 5, Quận 8, Hồ Chí Minh, Việt Nam
                br
                p SĐT: 
                p 0933888725
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán căn hộ chung cư ở Quận 8, Hồ Chí Minh
              br
              p Cho thuê căn hộ chung cư ở Quận 8, Hồ Chí Minh
              br
              p Cho thuê nhà mặt phố ở Quận 8, Hồ Chí Minh
              br
              p Cho thuê nhà riêng ở Quận 8, Hồ Chí Minh
              br
              p Cho thuê nhà biệt thự, liền kề ở Quận 8, Hồ Chí Minh
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb71
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY CỔ PHẦN MÔI GIỚI BẤT ĐỘNG SẢN HELLOHOMES
              .fontdb2 
                br 
                p Địa chỉ: 
                p 528 Nguyễn Văn Qúa, Khu Phố 4, Đông Hưng Thuận, Quận 12, Hồ Chí Minh, Việt Nam
                br
                p SĐT: 
                p 0779938978
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất nền dự án ở Hải Châu, Đà Nẵng
              br
              p Bán nhà riêng ở Hải Châu, Đà Nẵng
              p Bán nhà mặt phố ở Điện Bàn, Quảng Nam
              br
              p Bán đất ở Hải Châu, Đà Nẵng
              br
              p Bán nhà biệt thự, liền kề ở Hội An, Quảng Nam
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb8
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH BẤT ĐỘNG SẢN MTP
              .fontdb2 
                br 
                p Địa chỉ: 
                p Nội Đồng, Đại Thịnh, Mê Linh, Hà Nội, Việt Nam
                br
                p SĐT: 
                p 0941567111
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất nền dự án ở Vĩnh Yên, Vĩnh Phúc
              br
              p Bán đất ở Mê Linh, Hà Nội
              br
              p Bán nhà biệt thự, liền kề ở Mê Linh, Hà Nội
              br
              p Bán nhà biệt thự, liền kề ở Mê Linh, Hà Nội
              br
              p Bán đất ở Mê Linh, Hà Nội
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb9
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH ĐẦU TƯ VÀ PHÁT TRIỂN ĐÔ THỊ REALTY INVEST
              .fontdb2 
                br 
                p Địa chỉ: 
                p 63 Phan Đăng Lưu, Hòa Cường Bắc, Hải Châu, Đà Nẵng, Việt Nam
                br
                p SĐT: 
                p 0825585595
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán căn hộ chung cư ở Quận 8, Hồ Chí Minh
              br
              p Cho thuê căn hộ chung cư ở Quận 4, Hồ Chí Minh
              br
              p Bán shophouse, nhà phố thương mại ở Quận 7, Hồ Chí Minh
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb10
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH TMDV BẤT ĐỘNG SẢN QUANG TIẾN
              .fontdb2 
                br 
                p Địa chỉ: 
                p Số 11, đường số 16, KDC đường 10, TT Bến Lức, Huyện Bến Lức, Tỉnh Long An, Việt Nam
                br
                p SĐT: 
                p 02723900700
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất ở Bến Lức, Long An
              br
              p Bán đất ở Bến Lức, Long An
              br
              p Bán đất ở Tân Trụ, Long An
              br
              p Bán đất ở Thủ Thừa, Long An
              br
              p Bán đất ở Tân An, Long An
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb11
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY CỔ PHẦN BẤT ĐỘNG SẢN VẠN XUÂN NHA TRANG
              .fontdb2 
                br 
                p Địa chỉ: 
                p Phú Vinh, Vĩnh Thạnh, Nha Trang, Khánh Hòa, Việt Nam
                br
                p SĐT: 
                p 0911630439
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất nền dự án ở Cam Lâm, Khánh Hòa
              br
              p Bán đất nền dự án ở Ninh Hòa, Khánh Hòa
              br
              p Bán đất nền dự án ở Nha Trang, Khánh Hòa
              br
              p Bán nhà mặt phố ở Ninh Hòa, Khánh Hòa
              br
              p Bán nhà mặt phố ở Nha Trang, Khánh Hòa
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb12
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH BẤT ĐỘNG SẢN ĐẠ HUOAL LAND
              .fontdb2 
                br 
                p Địa chỉ: 
                p Tổ dân phố 5, Thị Trấn Đạ M'Ri, Đạ Huoai, Lâm Đồng, Việt Nam
                br
                p SĐT: 
                p 0866450019
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất nền dự án ở Đạ Huoai, Lâm Đồng
              br
              p Bán đất nền dự án ở Bảo Lộc, Lâm Đồng
              br
              p Bán trang trại, khu nghỉ dưỡng ở Đạ Huoai, Lâm Đồng
              br
              p Bán đất ở Đạ Huoai, Lâm Đồng
              br
              p Bán đất ở Bảo Lộc, Lâm Đồng
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb13
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH SAIGON OFFICE
              .fontdb2 
                br 
                p Địa chỉ: 
                p 208 Nguyễn Trãi, Phạm Ngũ Lão, Quận 1, Hồ Chí Minh, Việt Nam
                br
                p SĐT: 
                p 0908600359
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán nhà riêng ở Quận 7, Hồ Chí Minh
              br
              p Bán nhà mặt phố ở Quận 7, Hồ Chí Minh
              br
              p Bán căn hộ chung cư ở Quận 7, Hồ Chí Minh
              br
              p Cho thuê căn hộ chung cư ở Quận 7, Hồ Chí Minh
              br
              p Cho thuê nhà mặt phố ở Quận 7, Hồ Chí Minh
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb14
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY CỔ PHẦN DỊCH VỤ ĐỊA ỐC THĂNG LONG
              .fontdb2 
                br 
                p Địa chỉ: 
                p Võ Chí Công, Nghĩa Đô, Cầu Giấy, Hà Nội, Việt Nam
                br
                p SĐT: 
                p 0989269468
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán căn hộ chung cư ở Thanh Xuân, Hà Nội
              br
              p Bán căn hộ chung cư ở Hoàng Mai, Hà Nội
              br
              p Bán căn hộ chung cư ở Hà Đông, Hà Nội 
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb15
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY CỔ PHẦN ĐẦU TƯ GREEN LAND HB
              .fontdb2 
                br 
                p Địa chỉ: 
                p Vĩnh Tiến, Kim Bôi, Hòa Bình, Việt Nam
                br
                p SĐT: 
                p 0762262888
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Bán đất ở Cao Phong, Hòa Bình
              br
              p Bán đất ở Kim Bôi, Hòa Bình
              br
              p Bán đất ở Lương Sơn, Hòa Bình
         
        .db3.bo.ngangnhieu
          .db5.bo.ngangnhieu 
            .fontdb3.fontdb16
            .fontdb4.bo
              .fontdb6 
                p CÔNG TY TNHH SAIGON OFICE  
              .fontdb2 
                br 
                p Địa chỉ: 
                p 208 Nguyễn Trãi, Phạm Ngũ Lão, Quận 1, Hồ Chí Minh, Việt Nam
                br
                p SĐT: 
                p 0908600359
          .db6.bo
            .fontdb1
              p KHU VỰC CÔNG TY MÔI GIỚI
            .fontdb2 
              br
              p  Cho thuê văn phòng ở Quận 1, Hồ Chí Minh
              br
              p Cho thuê văn phòng ở Quận 3, Hồ Chí Minh
              br
              p Cho thuê văn phòng ở Quận 7, Hồ Chí Minh
              
      .db4
      