extends ../../layout

block link
  link(rel="stylesheet", href="/css/pages/project-citys/du-an.css")

block body
  .container
    .link.font5
      a(href="/") Trang chủ 
      p > Dự án
      p &nbsp> Đang khởi công 
      p &nbsp> Aqua City
  .anhlon  
    .container
      .ov1
        .ov2.fontc 
          p Aqua City
        .ov3.font1 
          p Quảng trường du thuyền 
          p Biểu tượng thượng lưu
  .container 
    .ov4 
      .ov5 
        .fontd
          p Bến du thuyền 5 sao
        .fonte
          p ------------
          p &nbsp Nếu đại lộ Ánh Sáng mang trong mình không khí nhộn nhịp,náo nhiệt và sầm uất thì bến du thuyền Glory, trái lại, được ví như một bức tranh tĩnh lặng và yên bình. Nằm trên dòng sông Tắc hiền hòa, cạnh cung điện Crystal Palace, bến thuyền mang một vẻ đẹp rất ‘thơ’ mà cũng vô cùng hiện đại. 
          p &nbsp Bến du thuyền chính siêu tiện ích nổi bật của khu đô thị Aqua City. Trong đó, bến du thuyền là tiện ích đáng chú ý nhất. Tọa lạc ở vị trí vàng rộng hơn 5000m2, tâm điểm kết nối khu shophouse, biệt thự và boutique villa, bến du thuyền tạo nên một vùng cảnh quan rực rỡ, sang trọng và đầy màu sắc với những ánh sáng từ các tòa nhà và từ sự phản chiếu của nước.
      .anhnho1
  .container 
    .ov6.fontf
      p Các Dự Án Đặc Trưng 
  .container 
    .ov7
      .anhnho2 
      .anhnho3
      .anhnho4