extends ../../layout

block link
    link(rel="stylesheet", href="/css/pages/404/404.css")

block body
    .container 
        .main
            h1 Oops!
            h2 404 - Trang không tồn tại
            p(style="padding-bottom: 50px;") Có thể trang đã bị xóa hoặc đã thay đổi tên.
            a(href="/").nut.bo Trở về trang chủ 